<div class="addUser-form-container">
  <form #addUserForm="ngForm" (ngSubmit)="submitAddUser(addUserForm)" class="addUser-form">
    <h2 class="login-form-header" >Add User</h2>
    <mat-form-field appearance="outline">
      <mat-label i18n>Name</mat-label>
      <input name="name" id="name" type="text" matInput required ngModel>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label i18n>Email</mat-label>
      <input name="email" id="email" type="email" matInput required ngModel email>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label i18n>Phone</mat-label>
      <input name="phone" id="phone" type="text" matInput required ngModel pattern= "[0-9+]+">
    </mat-form-field>
    <div class="addUser-button-container">
      <button mat-raised-button [disabled]="!addUserForm.valid || loading" color="accent"
              type="submit" i18n>Add User
      </button>
    </div>
  </form>
</div>
